.grid { 
    display: grid;
    size: auto;
    padding: 1em;
    grid-template-rows: repeat(25, 30px);
    grid-template-columns: repeat(25, 30px);
}


.Node {
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 30px;
    height: 30px;
}